  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    {% if user.is_authenticated  %}
    <div class="container">
      <a class="navbar-brand text-white" href=""> Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupported">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupported">
      <ul class="navbar-nav ml-auto">

        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
        </li>

      </ul>

    </div>
      <div class="collapse navbar-collapse" id="navbarSupported">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'use-profile' %}">{{ user.username }} profile
          <span class="sr-only">(current)</span></a>
        {% else %}
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'use-register' %}">register</a>

        </li>
         <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'dashboard-home' %}">Visit our Site</a>

        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
        </li>

      </ul>
      {% endif %}
    </div>
    </div>
  </nav>